<p><strong>O mnie</strong></p>
<br>
<p>Witaj na mojej stronie. Jestem studentem trzeciego roku informatyki na Uniwersytecie Gdańskim i jest to moja pierwsza aplikacja w Ruby on Rails. Umożliwia ona zajrejestrowanemu użytkownikowi dodawanie czynności jakie ma w planie wykonać.</p>
